<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>SIGOB</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Sigob Mobile</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleIdentifier</key>
	<string>org.sigob.ios.cross</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
		<string>pt</string>
		<string>fr</string>
		<string>ar</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSCameraUsageDescription</key>
	<string>Sigob Mobile needs access to the camera to take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sigob Mobile needs access to photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sigob Mobile needs access to microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Sigob Mobile needs access to the photo gallery.</string>
	<key>NSContactsUsageDescription</key>
	<string>Sigob Mobile need contact permission to add participants.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Sigob Mobile need calendar use permission.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>2.2.1</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sigob Mobile needs acces to your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sigob Mobile needs acces to your current location.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sigob Mobile needs acces to device location</string>
</dict>
</plist>
